        body {
            
            background: #2be2d9d1;
            margin: 3px;
            padding: 3px;

        }
        header{
            
            padding: 9px;
            background: cornflowerblue;
            margin: -5px;
            border: 1px solid;
            text-align: center;

        }

        h1{

            text-align: center;

        }
        nav{
            display: inline-block;
            
            padding: 10px;


        }
        ul{
            display: inline-flex;
            text-align: center;
            border: 1 px black;
            /* border:  1px solid; */

        }

        li{
            padding: 10px;
        }

        main{
            
            height: 500px;
            padding: 12px 0px;
            margin: 2px;

        }

        #intro {
            float: left;
        }
        footer{
            background: cornflowerblue;

        }
